# Pandemic Graph

We will start by understanding and generating a classic pandemic graph

In [57]:
%run -i "scripts/data_preprocessing.py"

Data preprocessed sucessfully

In [160]:
from sklearn.cluster import KMeans
from numpy.random import default_rng

X = pd.read_csv('C:\\Users\\usama\\OneDrive\\Desktop\\github\\covid-19-global-status\\output\\all_data.csv')
ykm = []
res = []
seeds = np.arange(0,20)

for x in range(0,20):
    rng = default_rng()
    seed = seed)
    seeds.append(seed)
    np.random.seed(seed=seed)
    km = KMeans(
    n_clusters=4, init='random',
    n_init=500, max_iter=100, 
    tol=x*2, random_state=x
    )
    y_km = km.fit_predict(X)
    ykm.append(y_km)
    
    zero = (y_km == 0).sum()
    one = (y_km == 1).sum()
    two = (y_km == 2).sum()
    three = (y_km == 3).sum()
    results_tuple = (zero, one, two, three, seed) 
    res.append(results_tuple)

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [128]:
import numpy as np
mean=[]
sdev=[]

for x in range(0,len(res)):
    std = np.std(res[x])
    sdev.append(std)

In [129]:
res = pd.DataFrame(res)
sdev = pd.DataFrame(sdev)
rykm = pd.concat([res,sdev], axis=1)
rykm.columns = ['0','1','2','3','Seed', 'Stdev']

In [150]:
select = rykm[(rykm['Stdev'] > np.percentile(rykm['Stdev'],15)) & (rykm['Stdev'] < np.percentile(rykm['Stdev'],25))].sort_values(by='Stdev', ascending=True)
sel = select[select['Stdev'] == select['Stdev'].min()]
sel

      0  1   2  3  Seed     Stdev
11  168  3  13  1    17  64.07995

In [159]:
rykm

      0    1    2    3  Seed      Stdev
0   178    1    3    3     1  70.405682
1   178    1    3    3    17  69.037961
2     1    4    3  177    14  68.747073
3     3    1    3  178    15  69.178031
4   177    1    3    4     7  69.327051
5     3    4    1  177     7  69.327051
6     3    4    1  177    12  68.901669
7     8    3  173    1     7  67.348645
8     3    3    1  178     2  70.303912
9     3  177    1    4     0  70.014284
10    3    1    6  175     6  68.426311
11  168    3   13    1    17  64.079950
12    1    3   27  154     7  58.534093
13    1   56    5  123     9  46.572095
14  180    3    1    1    14  70.266350
15    4    3  177    1    19  68.400000
16   98   81    1    5     7  42.112231
17  180    1    1    3    15  70.194017
18  177    4    3    1     1  69.909656
19    5    1  175    4     0  69.024633

In [155]:
from sklearn.cluster import KMeans
np.random.seed(sel['Seed'])
km = KMeans(
    n_clusters=4, init='random',
    n_init=500, max_iter=100, 
    tol=6, random_state=3
)

y_km = km.fit_predict(X)

In [156]:
y_km

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 3, 3, 3, 0, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3,
       2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3])

In [158]:
zero = (y_km == 0).sum()
one = (y_km == 1).sum()
two = (y_km == 2).sum()
three = (y_km == 3).sum()
print(zero, one, two, three)

3 1 3 178